h1	{
	color:#2843E9;
	font-family: Impact, Charcoal, sans-serif;
}

h2	{
	color:#2843E9;
	font-family: Impact, Charcoal, sans-serif;
}

p	{
	margin-right: 600px;
	font-family: Impact, Charcoal, sans-serif;
}
h3	{
	font-family: Impact, Charcoal, sans-serif;
}

.greencolor {
	color:#419723;
}

.redcolor {
	color:#DF2323;
}

.purplecolor {
	color:#8420C5;
}

.bluecolor {
	color:#48DFF1;
}
