body	{
	background-color: #dedede;
}

.gallery {
	display: flex;
	width: 900px;
	margin auto;
	justify-content: space-between;
	flex-wrap: wrap;
}

figure	{
	width: 200px;
	margin: 8px 0;
	padding: 8px;
	border: 1px solid #777;
	background-color: #fff;
	box-sizing: border-box;

}

figure img {
	width: 100%;
}

figure figcaption {
	text-align: center;
	padding: 8px 4px;
}

img	{
	width: 500px;
}

.grayscale {
  -webkit-filter: grayscale(100);
  filter: grayscale(100);
}

.invert {
  -webkit-filter: invert(2);
  filter: invert(2);
}

.image-blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.grayscale2 {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: 2s;
  animation-timing-function:ease-in-out;
}

.grayscale2:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}