body	{
	font-size: 20px;
}

h1	{
	font-size: 60px;
	text-align: center;
}

h2	{
	font-size: 40px;
	margin-left: 10px;
}

h3	{
	font-size: 30px;
	font-style: italic;
}

.floatl {
	float: left;
}

p	{
	
}

img	{
	border: 5px black solid;
	margin: 10px;
	width:300px;
}

.cleared	{
	display: flow-root;
}

section	{
	background-color: red;
	padding: 10px;
	margin-bottom: 10px;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
	border: 5px black solid;
	padding: 10px;
	background-color: #b3995d;
}

footer	{
	background-color: #AA0000;
	text-align:center;
	color: white;
	width: 80%;
	margin: 0 auto;
	padding: 15px;
}

.floatr {
	float: right;
}

.colr{
	float: right;
	width: 45%;
}

.coll	{
	float: left;
	width: 45%;
}