.wrapper {
	width:	80%;
	background-color: grey;
	margin: 0 auto;
	padding-bottom:20px;
	padding-top: 10px;
}

a{
	text-align: center;
	border:2px black solid;
	padding: 5px;
	margin:5px;
	background-color: pink;
	display:block;
}

p	{
	text-align: center;
}

nav	{
	text-align: center;
}

h1	{
	font-size: 40px;

}