body	{
	font-size: 22px;
	background-color: #0B424D
}

p	{
	color: white;

}

h1	{
	font-size: 40px;
	color: white;
	border-color: white;
	text-align:center;
	border-bottom: solid;
	border-size:4px;
}

h2	{
	font-size: 32px;
	color: #BDC3C7;
	text-align: center;

}

h3	{
	font-size: 28px;
	color: #ECF0F1

}

li	{
	color: red;
	font-size: 26px;
}

.blackborder {
	border-color: black;
	border-size: 2px;
	border-style: solid;

}

.centered	{
	text-align: center;
}

.color {
	background-color: #16839A;
}

a {
	text-align: center;
	border:2px red solid;
	padding: 10px;
	margin: 10px;
	background-color: #0F6C7E;
}

a:link	{
	color:#38DCF6;
}

a:visited	{
	color:#F12525;
}

a:hover	{
	color:#31E429;
}

a:active	{
	color:#292FE4;
}
